.stack {
    width: 100%;
    height: 300px;
    border: 1px solid red;
    margin: 50px;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
}

.stack-elem {
    border: 1px solid black;
    background-color: #eee;
    height: 40px
};

.stack.active {
   
        transform: translateX(0);
        transition: transform .5s;

}

.slideUp {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
  }
  
  @keyframes slideRight {
    0% {
      transform: translateY(-25%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes slideRight {
    0% {
      -webkit-transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
  }